body {
    font-family: Segoe UI;
    font-size: medium;
    margin: 10% 35% 10% 35%;
}

.content {
    border: 1px solid rgb(95, 95, 95);
    top: 0;
    margin: auto;
    justify-content: center;
    padding: 50px;
}

.header {
    display: grid;
    justify-content: center;
    text-align: -webkit-center;
}

.titulo {
    width: 200px;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.campos {
    display: grid;
}

::placeholder {
    color: rgb(95, 95, 95);
    font-size: 8pt;
}

input,
button {
    height: 35px;
    margin-top: 5px;
}

input {
    background: #fafafa;
    border: 0.1px solid rgb(95, 95, 95);
    border-radius: 3px;
    padding-left: 10px;
}

button {
    margin-top: 15px;
    background-color: #0095f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

span {
    text-align: center;
    display: block;
}

span.line {
    text-align: center;
    display: block;
    margin-top: 1.5em;
    font-weight: bold;
    color: rgb(95, 95, 95);
}

span.line:before {
    content: '____________';
}

span.line:after {
    content: '____________';
}

.social {
    margin-top: 1.4em;
    font-weight: bold;
    color: #385185;
}

.pass {
    margin-top: 1.4em;
    color: #385185;
}

.registar {
    margin-top: 1.5em;
    border: 1px solid black;
    padding: 20px;
}

.loja {
    justify-content: center;
    margin: auto;
    text-align: center;
}

.loja img {
    width: 10em;
}